strong {
    font-size: 20px;
    font-weight: 500;
}

img {
    margin: 10px 0px;
    width: 400px
}

.em-background {
    background-color: red;
}

.ql-align-justify a {
    text-decoration: underline;
    color: red;
}